.affix {
    top: 0;
    width: 100%;
}

.affix {
    padding-top: 70px;
}
body{
    padding: 0;
    margin: 0;
    background-color: #999999;
}
.header-img{
    width: 103%;
    margin-left:-25px;
}
.header-text{
    margin-top:-50px;
 }
 .brand-img{
     height: 50px;
     width:80px;
     margin-top:-10px;
 }
 .bg-note{
     background-color: #ff6633;
 }